<template>
  <div class=columns>
    <slot/>
  </div>
</template>

<style scoped>
.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.columns > * {
  margin: auto;
}
</style>
