:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-white: #fffafa;
  --c-white-dark: #f5f5f5;
  --c-black:  #17112d;
  --c-grey: #f4f4f4;

  --c-divider-light: #b885cb;
  --c-divider-dark: #734d75;

  --c-text-light-1: #17112d;
  --c-text-light-2: #5D586B;
  --c-text-light-3: #7E7A89;

  --c-brand: #734d75;
  --c-brand-light: #b885cb;
}

/**
   * Layout
   * --------------------------------------------------------------------- */

body {
  background-color: var(--c-grey);
}

.theme {
  background-color: var(--c-white-dark);
}


/**
   * Page
   * --------------------------------------------------------------------- */

.page,
.page .content,
.page .container {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.page .container .content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  var(--c-brand-light);
  min-height: 100vh;
}

.page .container .content h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 !important;
}

.page .container .content .custom-block,
.page .container .content .columns {
  max-width: 850px !important;
  padding: 0 15px !important;
}

.page .container .content h2 {
  padding-top: 0.3em;
  border-bottom: 0 none;
  font-size: 2.25rem;
  color: var(--c-white);
  justify-content: center;
}

.page .container .content h2 .header-anchor {
  display: none;
}

.page .container .content .custom-block.tip {
  border-color: var(--c-brand);
}

.page .container .content .custom-block.tip .custom-block-title {
  display: none;
}

.page .container .content .social-media-links {
  margin-top: auto;
}

/**
   * Footer
   * --------------------------------------------------------------------- */

.page-footer {
  padding: 0 !important;
  height: 0 !important;
  display: none !important;
}

/**
   * Banner
   * --------------------------------------------------------------------- */

.banner {
  text-align: center;
  margin: 0 !important;
  line-height: 0 !important;
  background-color: var(--c-white-dark);
}

.banner,
.banner img {
  max-height: 220px;
  width: 100%;
}

.banner img {
  max-width: 960px;
}

.banner::before,
.banner::after {
  height: 220px;
}

.banner::before,
.banner:after {
  content: " ";
  position: absolute;
  width: calc((100% - 960px)*0.5);
}

.banner::before {
  left: 0;
  background-color: var(--c-white-dark);
}

.banner::after {
  right: 0;
  background-color: var(--c-brand-light);
}

@media screen and (max-width: 960px) {
  .banner::before,
  .banner::after {
    display: none;
  }
}

/**
   * Shortcuts
   * --------------------------------------------------------------------- */

.shadow-bottom {
  position: relative;
}

.shadow-bottom:before {
  bottom: 0;
  height: 1em;
}

.shadow-bottom:after {
  height: 0.5em /* half the height of :before */;
  bottom: 4px;
}

.shadow-bottom:before,
.shadow-bottom:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.shadow-bottom:after,
.shadow-bottom:before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
}

.float-right,
.float-left {
  margin: 7px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

@media screen and (max-width: 720px) {
  .float-right,
  .float-left {
    float: none;
  }

  .float-right img {
    width: auto !important;
    height: auto !important;
  }
}
