:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */

  --c-white: #fffafa;
  --c-white-dark: #f5f5f5;
  --c-black:  #17112d;
  --c-grey: #f4f4f4;

  --c-divider-light: #b580c9;
  --c-divider-dark: #734d75;

  --c-text-light-1: #17112d;
  --c-text-light-2: #5D586B;
  --c-text-light-3: #7E7A89;

  --c-brand: #734d75;
  --c-brand-light: #b580c9;
}

/**
   * Layout
   * --------------------------------------------------------------------- */

body {
  overflow-y: scroll;
  min-height: 100vh;
  background-color: var(--c-grey);
}

.theme {
  background-color: var(--c-white-dark);
}


/**
   * Home
   * --------------------------------------------------------------------- */

.home {
  padding: 0 !important;
  max-width: 100vw !important;
}

.home .home-content {
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.home p:not(.button) a {
  text-decoration: underline;
}

.home > .home-hero {
  margin: 0 !important;
}

.home > .home-hero .description,
.home > .home-hero h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 !important;
}

@media screen and (max-width: 920px) {
  .home-link::after {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 !important;
  }
}

/* hide auto nav in sidebar for home view */
.no-sidebar .sidebar-group {
  display: none;
}


/**
   * Page
   * --------------------------------------------------------------------- */

.page > .container {
  box-shadow: rgba(183,133,203,0.4) -5px 5px, rgba(183,133,203,0.3) -10px 10px, rgba(183,133,203,0.2) -15px 15px, rgba(183,133,203,0.1) -20px 20px, rgba(183,133,203,0.05) -25px 25px;
  max-width: 1066px !important;
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}

.navbar,
.navbar .links,
.sidebar,
.page > .container {
  background-color: var(--c-white) !important;
}

/**
   * Titles
   * --------------------------------------------------------------------- */

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #37324a;
  border-radius: 10px;
  padding-bottom: 20px;
  font-size: 1.7rem;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-top: 1.5rem;
}

@media screen and (max-width: 840px) {
  h1 {
    font-size: 1.2rem;
  }
}

.page h2 {
  padding-top: 2.25rem;
  margin-top: 0 !important;
}

.page h3 {
  padding-top: 2rem;
  margin-top: 0 !important;
}

.page h2 + h3 {
  padding-top: 1.5rem;
}


/**
   * Footer
   * --------------------------------------------------------------------- */

.page-footer,
.home-footer {
  padding: 0 !important;
  height: 0 !important;
  display: none !important;
}


/**
   * Nav links
   *

nav.nav-links {
  display: flex;
  align-items: center;
}

nav.nav-links .nav-link {
  transition-property: color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  cursor: pointer;
  height: 26px;
  padding-bottom: 0px;
  font-size: 1rem;
}

nav.nav-links .nav-link:hover,
nav.nav-links .nav-link:active {
  color: var(--c-brand-light);
}

nav.nav-links .nav-link {
  display: flex;
  align-items: center;
  color: var(--c-brand);
  border-bottom-color: transparent;
  transition-property: border-bottom-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

nav.nav-links .nav-link:hover:not(.external),
nav.nav-links .nav-link:active:not(.external),
nav.nav-links .nav-link.router-link-exact-active:not(.external),
nav.nav-links .nav-link.router-link-active:not(.external) {
  border-bottom-color: var(--c-brand-light) !important;
  color: var(--c-brand-light);
}

nav.nav-links .nav-link[href='/nous-soutenir/']:hover::after,
nav.nav-links .nav-link[href='/nous-soutenir/']:active::after,
nav.nav-links .nav-link[href='/nous-soutenir/'].router-link-exact-active::after,
nav.nav-links .nav-link[href='/nous-soutenir/'].router-link-active::after {
  background-color: var(--c-brand-light);
}

--------------------------------------------------------------------- */

/**
   * Custom blocks
   * --------------------------------------------------------------------- */

.custom-block.tip {
  border-color: var(--c-brand-light);
}
.custom-block span.badge.tip {
  background-color: var(--c-brand-light);
  vertical-align: middle !important;
}


/**
   * Logo
   * --------------------------------------------------------------------- */

.logo {
  height: 2rem !important;
  vertical-align: middle !important;
}

.nav-bar-title {
  font-size: 0 !important; /* hide title in navbar */
}


/**
   * Logo Full
   * --------------------------------------------------------------------- */

.logo-full {
  text-align: center;
  width: 824px;
  height: 212px;
  margin: 1rem auto 1rem;
}

.logo-full img {
  width: 824px;
  height: 212px;
}

@media screen and (max-width: 1024px) {
  .logo-full {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    max-width: 824px;
    width: 100%;
    height: auto;
  }
  .logo-full img {
    width: 100% !important;
    height: auto !important;
  }
}

@media screen and (max-width: 720px) {
  .logo-full {
    margin-bottom: 1.5rem !important;
  }
}

@media screen and (max-width: 420px) {
  .logo-full {
    margin-bottom: 2rem !important;
  }
}


/**
   * Custom buttons
   * --------------------------------------------------------------------- */

.button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.button button {
  cursor: pointer;
  border: 0 none;
}

.button button,
.button a {
  display: inline-flex;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--c-brand);
  border-radius: 4px;
  transition: background-color 0.15s ease, border-bottom-color 0.15s ease;
  box-sizing: border-box;
  border-bottom: 1px solid var(--c-brand);
  margin: auto;
  margin-bottom: 25px;
  box-shadow: rgba(50,50,93,0.25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px;
  padding: 0.8rem 1.6rem;
}

.button button:active,
.button button:hover,
.button a:active,
.button a:hover {
  background-color: var(--c-brand-light);
  border-bottom: 1px solid var(--c-brand-light);
  text-decoration: none !important;
}

.button button:before,
.button a::before {
  content: ' ';
  background-repeat: no-repeat;
  align-self: center;
}

.doc a::before {
  width: 24px;
  height: 24px;
  margin-right: 7px;
  background-image: url("data:image/svg+xmlcharset=utf8,%3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='file-word' class='svg-inline--fa fa-file-word fa-w-12' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='white' d='M369.9 97.9L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM332.1 128H256V51.9l76.1 76.1zM48 464V48h160v104c0 13.3 10.7 24 24 24h104v288H48zm220.1-208c-5.7 0-10.6 4-11.7 9.5-20.6 97.7-20.4 95.4-21 103.5-.2-1.2-.4-2.6-.7-4.3-.8-5.1.3.2-23.6-99.5-1.3-5.4-6.1-9.2-11.7-9.2h-13.3c-5.5 0-10.3 3.8-11.7 9.1-24.4 99-24 96.2-24.8 103.7-.1-1.1-.2-2.5-.5-4.2-.7-5.2-14.1-73.3-19.1-99-1.1-5.6-6-9.7-11.8-9.7h-16.8c-7.8 0-13.5 7.3-11.7 14.8 8 32.6 26.7 109.5 33.2 136 1.3 5.4 6.1 9.1 11.7 9.1h25.2c5.5 0 10.3-3.7 11.6-9.1l17.9-71.4c1.5-6.2 2.5-12 3-17.3l2.9 17.3c.1.4 12.6 50.5 17.9 71.4 1.3 5.3 6.1 9.1 11.6 9.1h24.7c5.5 0 10.3-3.7 11.6-9.1 20.8-81.9 30.2-119 34.5-136 1.9-7.6-3.8-14.9-11.6-14.9h-15.8z'%3E%3C/path%3E%3C/svg%3E");
}

.mailto a::before {
  width: 24px;
  height: 24px;
  margin-right: 7px;
  background-image: url("data:image/svg+xmlcharset=utf8,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Email%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs/%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linejoin='round'%3E%3Cg id='Artboard-4' transform='translate(-356.000000, -159.000000)' stroke='%23fff' stroke-width='2'%3E%3Cg id='80' transform='translate(356.000000, 159.000000)'%3E%3Crect id='Rectangle-406' x='2' y='5' width='20' height='15' rx='1'/%3E%3Cpolyline id='Path-35' stroke-linecap='round' points='6 9 12 14 18 9'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/**
   * Shortcuts
   * --------------------------------------------------------------------- */

.shadow-bottom {
  position: relative;
}

.shadow-bottom:before {
  bottom: 0;
  height: 1em;
}

.shadow-bottom:after {
  height: 0.5em /* half the height of :before */;
  bottom: 4px;
}

.shadow-bottom:before,
.shadow-bottom:after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.shadow-bottom:after,
.shadow-bottom:before {
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
}

.float-right,
.float-left {
  margin: 7px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

@media screen and (max-width: 720px) {
  .float-right,
  .float-left {
    float: none;
  }

  .float-right img {
    width: auto !important;
    height: auto !important;
  }
}

.align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.align-center > * {
  margin: auto;
}
