<script setup>
import DefaultTheme from 'vitepress/theme'
const { Layout } = DefaultTheme
</script>

<template>
  <Layout>
    <template #page-bottom>
      <SocialMediaLinksQM/>
      <Footer/>
    </template>
  </Layout>
</template>
