<template>
  <div v-if="id" :id="id" :class="{ 'anchor-offset': offset }"></div>
</template>

<script setup>
const props = defineProps({
  id: String,
  offset: Boolean
})
</script>

<style scoped>
.anchor-offset {
  padding-top: 4em;
  margin-top: -4rem;
}
</style>
