<template>
  <div class=card-list>
    <slot/>
  </div>
</template>

<style scoped>
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  max-width: 850px !important;
}
</style>
