<template>
  <div class=card>
    <slot/>
  </div>
</template>

<style scoped>
.card {
  display: inline-flex;
  flex-direction: column;
  width: 200px;
  border-radius: 4px;
  margin: 0.5em;
  padding: 1.6em;
  background-color: var(--c-white);
  box-shadow: rgba(0,0,0,0.1) 0px 1px 3px 0px, rgba(0,0,0,0.06) 0px 1px 2px 0px;
  text-align: center;
  align-items: center;
}
.card p {
  margin: 5px;
}
.card .custom-block.details {
  margin: 25px auto auto;
  padding: 0;
  background-color: var(--c-white);
}
.card .custom-block.details summary {
  font-weight: bold;
}
.circle,
.circle a img {
  margin: auto !important;
}
.circle > a {
  background-color: #fff;
  display: flex;
  align-items: center;
}
.circle > a {
  border: 2px solid var(--c-brand-light);
}
.circle > a,
.circle > a img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
::v-slotted(.circle a .icon.outbound) {
  display: none;
}
</style>
