<template>
  <footer class=footer>
    QueerMotion 2020-2021 · <a href=https://wiki.queermotion.org/mentions-legales.html target=_blank>Mentions légales</a>
  </footer>
</template>

<style scoped>
.footer {
  font-size: 85%;
  border-top: 0 none !important;
  align-items: center !important;
  text-indent: 2px;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  margin-top: auto;
}

.footer a:hover,
.footer a:active {
  text-decoration: underline;
}

.footer::before {
  transform: rotateY(180deg);
  content: '©';
}

@media screen and (max-width: 720px) {
  .footer {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

::v-global(.social-media-links + .footer) {
  padding-top: 0 !important;
}
</style>
