<style scoped>
.box {
  background-color: rgba(23, 17, 45, 0.85);
  color: var(--c-white-dark);
  padding: 2.5rem 2.5rem 0 0;
  margin: 0 1rem 3rem;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.25) 0px 54px 55px, rgba(0,0,0,0.12) 0px -12px 30px, rgba(0,0,0,0.12) 0px 4px 6px, rgba(0,0,0,0.17) 0px 12px 13px, rgba(0,0,0,0.09) 0px -3px 5px;
  display: flex;
  max-width: 960px;
}
.box .cover {
  width: 59%;
  height: auto;
  align-self: end;
}
::v-slotted(.box .cover p) {
  display: block;
  z-index: 0;
  margin: 0 !important;
  line-height: 0 !important;
}
::v-slotted(.box .cover p::after),
::v-slotted(.box .cover p::before) {
  display: none;
}
.box .details {
  width: 41%;
  align-self: center;
  z-index: 1;
}
.box h2 {
  padding-top: 0 !important;
  margin-top: 0;
  margin-bottom: 0 !important;
  border-bottom: none;
  text-transform: uppercase;
}
::v-slotted(.box .button) {
  display: flex;
  margin-left: -65px;
}
::v-slotted(.box .button a:first-child) {
  margin-right: 5px;
}
::v-slotted(.box .button a:last-child) {
  margin-left: 5px;
}
@media screen and (max-width: 1033px) {
  .box {
    padding: 1.55rem;
    align-items: center;
    display: flex;
  }
  .box .cover {
    width: 115%;
    align-self: center;
    line-height: inherit !important;
    margin: inherit !important;
  }
  ::v-slotted(.box .cover p::after),
  ::v-slotted(.box .cover p::before) {
    display: block;
  }
  ::v-slotted(.box .cover p img) {
    margin-bottom: 10px;
    margin-left: 25px;
  }
  .box .details {
    display: flex;
    width: auto !important;
    flex-direction: column;
  }
  .box h2 {
    padding: 0.3rem 0 0 0 !important;
    margin-bottom: 0;
    align-self: center;
  }
  ::v-slotted(.box .button) {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}
@media screen and (max-width: 920px) {
  .box .cover {
    display: none;
  }
}
@media screen and (max-width: 740px) {
  .box {
    padding: 0.9rem;
    flex-direction: column-reverse;
  }
  ::v-slotted(.box .cover p) {
    max-width: none;
  }
  .box h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 530px) {
  ::v-slotted(.box .button) {
    flex-direction: column;
    margin-bottom: 10px;
  }
  ::v-slotted(.box .button a) {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
  }
}
</style>

<script setup>
const props = defineProps({
  title: String
})
</script>

<template>
  <div class=box>
    <div class=cover>
      <slot name="image"/>
    </div>
    <div class=details>
      <h2 v-if="title">{{ title }}</h2>
      <slot name="text"/>
      <slot name="buttons"/>
    </div>
  </div>
</template>
