<template>
  <div :class="{ slide: true, blue: blue, violet: violet }">
    <Anchor :id="anchor"/>
    <h2 v-if="title">{{ title }}</h2>
    <slot/>
  </div>
</template>

<script setup>
const props = defineProps({
  blue: Boolean,
  violet: Boolean,
  title: String,
  anchor: String
})
</script>

<style scoped>
.slide {
  min-height: calc(100vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide:first-child {
  min-height: calc(100vh);
}
.slide .footer {
  margin-top: auto;
}
.slide > h2 {
  padding-top: 1.5em;
  border-bottom: 0 none;
  font-size: 2.25rem;
}
.slide > h2 .header-anchor {
  display: none;
}
.slide.violet {
  background-color: #d5a4de;
}
.slide.violet > h2 {
  color: var(--c-brand);
}
.slide.blue {
  background-color: #a391d8;
}
.slide.blue > h2 {
  color: var(--c-white);
}
::v-slotted(.slide .content) {
  max-width: 850px !important;
  padding: 0 15px;
}
</style>
